@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    width: 250px;
    height: calc(100vh - 60px); /* Adjust the height as needed */
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto; /* Add vertical scrollbar */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    position: relative;
}

.sidebar ul li a {
    display: block;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.sidebar ul li a:hover {
    background-color: #FFA500;
    color: white;
}

.sidebar ul li.submenu-item > a::after {
    content: '▼';
    position: absolute;
    right: 16px;
    font-size: 12px;
}

.sidebar ul li:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFA500;
    z-index: 0;
}

.sidebar ul li:hover a {
    color: white;
}

.sidebar ul li.submenu-item:hover::before,
.sidebar ul li.submenu-item:hover a {
    background-color: transparent;
    color: #333;
}

.sidebar ul li.submenu-item .submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li.submenu-item:hover .submenu {
    display: block;
    position: relative; /* Adjust positioning as needed */
    left: 0;
    top: 0;
}

.submenu li a {
    display: block;
    color: #666;
    padding: 5px 0;
    text-decoration: none;
    margin-left: 50px; /* Align submenu text */
}

.submenu li a:hover {
    background-color: #FFA500;
    color: white;
}

.dashboard {
    padding: 20px;
    margin: 20px 50px;
    background-color: #FFFED3;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tracking-widget {
    background: lightblue;
    padding: 10px;
    border-radius: 8px;
}

.annoucement {
    background-color: #666;
    padding: 100px;
    border-radius: 10px;
}

.annoucement h2 {
    display: flex;
    color: #333;
    height: 100px;
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: rgb(238, 141, 14);
}

.menu-item {
    padding-top: 15px; /* Adjust the value as needed */
    padding-bottom: 15px; /* Adjust the value as needed */
    margin: 0 -20px; /* Ensure the hover effect spans the full width */
}

.announcement-bar {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .green-bar {
    background-color: #d4edda;
    color: #155724;
  }
  
  .red-bar {
    background-color: #f8d7da;
    color: #721c24;
  }

  /* BuylistPage.module.css */
table {
    width: 100%;
    /* border-collapse: collapse; */
    /* border-radius: 5px; */
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  img {
    width: 50px;
    height: 50px;
  }
  
  button {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: darkgreen;
  }

  .nav-pills .nav-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
  }
  
  .nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .table-forwarder-show th,
  .table-forwarder-show td {
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
  }
  
  .table-forwarder-show th {
    background-color: #f8f9fa;
  }
  
  .badge-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffc107;
  }
  
  .badge-circle-fwd-item-status-1 {
    background-color: #ffc107;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
  }
  
  .page-item .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
  }
  
  .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  